@tailwind base;
@tailwind components;
@tailwind utilities;

@import "lightgallery/css/lightgallery.css";
@import "lightgallery/css/lg-thumbnail.css";
@import "lightgallery/css/lg-zoom.css";

@font-face {
  font-family: "TimeNewRoman";
  src: url("./fonts/times.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("./fonts/RobotoCondensed-Thin.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

:root {
  --primary: #000000;
  --background: #ffffff;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--background);
  font-family: "TimeNewRoman", serif;
}

/* scroll bar */

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--background);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--background);
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--secondary);
}

/* globals.css */
.writing-mode-vertical-rl {
  writing-mode: vertical-rl;
}

.writing-mode-vertical-lr {
  writing-mode: vertical-lr;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.masonry {
  column-count: 2;
  column-gap: 1rem;
}

@media (min-width: 640px) {
  .masonry {
    column-count: 2;
  }
}

@media (min-width: 768px) {
  .masonry {
    column-count: 3;
  }
}

@media (min-width: 1024px) {
  .masonry {
    column-count: 4;
  }
}

.masonry-item {
  break-inside: avoid;
  margin-bottom: 1rem;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-300%);
  }
  100% {
    transform: translateX(0);
  }
}

.animate-scroll {
  animation: scroll 80s linear infinite;
}
